<h1> {{title}} </h1>

<div>
    Tracks:

    <ul>
        {% for track in tracks %}
        <li>
            {{track.song}} - {{track.artist}}
        </li>
        {% endfor %}
    </ul>
</div>

{# comment something in Twig #}
{# {{ }} - say something in Twig #}
{# {% %} - do somethinh in Twig #}